# ----------------------------------------------------------------------------
# Python bytecode and logs
# ----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.log

# ----------------------------------------------------------------------------
# Virtual Environments
# ----------------------------------------------------------------------------
.venv/
venv/
env/
ENV/

# ----------------------------------------------------------------------------
# OS-specific files
# ----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------------------
# Jupyter Notebooks
# ----------------------------------------------------------------------------
.ipynb_checkpoints/

# ----------------------------------------------------------------------------
# Model / large data / output folders
# ----------------------------------------------------------------------------
data/testset
data/trainset


